/*Set*/
@import "null.scss";

body {
   font-family: "Helvetica";
   background-color: #191919;
   font-weight: 400;
}

@font-face {
   font-family: Helvetica;
   src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Helvetica;
   src: url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff");
   font-weight: 200;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Helvetica;
   src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Helvetica;
   src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

[class*="__container"] {
   max-width: 1140px;
   margin: 0px auto;
   padding: 0 15px;
}

@media (max-width: 1140px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}

@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

[class*="_ibg"] {
   position: relative;

   img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}


$green: #34C759;

%green-line {
   content: "";
   width: 60px;
   height: 2px;
   background: $green;
   position: absolute;
}

/*/Set*/

//Header//
.header {
   border-bottom: 1px solid rgba(255, 255, 255, 0.068);
   // .header__container

   &__container {
      display: flex;
      justify-content: space-evenly;
      padding: 43px 0 35px 0;
      align-items: center;
      flex-wrap: wrap;


      @media (max-width: 429.98px) {
         padding: 18px 0 25px 0;
      }
   }

   // .header__logo

   &__logo {
      display: flex;
      column-gap: 3%;
      flex: 0 1 50%;
      align-items: flex-end;
      padding-right: 15px;

      @media (max-width: 429.98px) {
         padding-bottom: 15px;
      }
   }

   // .header__logo-pic

   &__logo-pic {
      padding: 0 0 3px 0;
   }

   // .header__menu

   &__menu {
      display: flex;
      column-gap: 4%;
      flex: 0 1 50%;
      justify-content: end;
      padding: 0 0 0 15px;
   }

   // .header__menu-item

   &__menu-item {
      font-size: 14px;
      color: #FFFFFF;
      font-weight: 700;

      &:hover {
         color: $green;
      }
   }
}

//Header\//

//First-Block//

.first-block {
   padding: 60px 0;

   @media (max-width: 767.98px) {
      padding: 20px 0;
   }

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
   }

   // .first-block__title

   &__title {
      font-size: 72px;
      line-height: 84px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      color: #FFFFFF;
      font-weight: 100;

      @media (max-width: 605.98px) {
         font-size: 52px;
         line-height: 60px;
      }

      @media (max-width: 444.98px) {
         font-size: 32px;
      }
   }

   // .first-block__title-bold

   &__title-bold {
      font-weight: 700;
   }

   // .first-block__subtitle

   &__subtitle {
      max-width: 540px;
      font-weight: 200;
      font-size: 16px;
      line-height: 162%;
      color: #FFFFFF;
      text-align: center;
      margin: 0 0 20px 0;

      @media (max-width: 605.98px) {
         font-size: 13px;
      }

      @media (max-width: 444.98px) {
         font-size: 11px;
      }
   }

   // .first-block__button

   &__button {
      padding: 16px 39px;
      background-color: $green;
      border-radius: 23px;
      cursor: pointer; //заколхозил,да//
      margin: 0 0 20px 60px;

      @media (max-width: 605.98px) {
         margin: 0 0 20px 30px;
      }
   }

   // .first-block__button-item

   &__button-item {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: black;
   }

   // .first-block__info

   &__info {
      display: flex;
      min-width: 100%;
      justify-content: space-around;
   }

   // .first-block__info-item

   &__info-item {
      display: flex;
      padding: 0 15px;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 16px;

      @media (max-width: 400.98px) {
         row-gap: 13px;
      }
   }

   // .first-block__info-icon

   &__info-icon {
      // flex: 0 1 100%;
      align-self: center;
   }

   // .first-block__info-text

   &__info-text {
      flex: 0 1 100%;
      text-align: center;
      font-size: 16px;
      line-height: 88%;
      color: #FFFFFF;
      margin-bottom: -10px;

      @media (max-width: 605.98px) {
         line-height: 118%;
      }

      @media (max-width: 400.98px) {
         font-size: 14px;
      }
   }

   // .first-block__info-description

   &__info-description {
      flex: 0 1 100%;
      text-align: center;
      font-size: 14px;
      color: #FFFFFF;
      opacity: 0.5;

      @media (max-width: 400.98px) {
         font-size: 12px;
      }
   }
}

.img {
   background: url("../img/main/block-first/bgc.png") 0 0/cover no-repeat;
   transition: 0.2s;

   @media (max-width: 485.98px) {
      background: url("../img/main/block-first/bgc.png") 25% 0/cover no-repeat;
   }
}

//First-Block\//

//Second-Block//

.second-block {


   &_set {
      margin-bottom: 50px;

      @media (max-width: 500.98px) {
         margin-bottom: 20px;
      }
   }

   // .second-block__row

   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;

   }

   // .second-block__card

   &__card {
      display: flex;
      flex: 0 1 24%;
      flex-direction: column;
      background: #252525;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      padding: 24px;
      row-gap: 36px;

      &:hover {
         background-color: $green;

         div {
            color: #191919;
         }

         ::after {
            background: #191919;
         }
      }

      @media (max-width: 991.98px) {
         flex: 0 1 49%;
      }

      @media (max-width: 467.98px) {
         flex: 0 1 100%;
         padding: 18px;
         row-gap: 20px;
      }
   }

   // .second-block__card-title

   &__card-title {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -0.275px;
      text-transform: capitalize;
      color: #FFFFFF;
      position: relative;

      @media (max-width: 1140px) {
         font-size: 20px;
      }

      &::after {
         @extend %green-line;
         bottom: -40%;
         left: 0;
      }
   }

   // .second-block__card-text

   &__card-text {
      font-size: 13px;
      line-height: 138%;
      letter-spacing: -0.1625px;
      color: rgba(255, 255, 255, 0.5);
   }
}

.title {
   @media (max-width: 991.98px) {
      transform: scale(0.9);
   }

   @media (max-width: 767.98px) {
      transform: scale(0.8);
   }

   @media (max-width: 580.98px) {
      transform: scale(0.7);
   }

   @media (max-width: 480.98px) {
      transform: scale(0.6);
   }

   &_set {
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      margin: 0 0 60px 0;

      @media (max-width: 767.98px) {
         margin: 0 0 10px 0;
      }
   }

   &::after {
      @extend %green-line;
      bottom: 0;
      left: 47%;

      @media (max-width: 991.98px) {
         left: 45%;
      }

      @media (max-width: 991.98px) {
         left: 44%;
      }

      @media (max-width: 441.98px) {
         left: 43%;
         bottom: -10%;
      }

      @media (max-width: 348.98px) {
         left: 40%;
      }
   }

   // .title__bg
   &__bg {
      font-size: 100px;
      text-align: center;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #303030c4;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 441.98px) {
         font-size: 80px;
      }
   }

   // .title__item

   &__item {
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 39px;
      //line-height: 250%;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: capitalize;
      color: #D9D9D9;
      z-index: 23;
      top: 0;
      left: 0;
      padding: 45px 5px;

      @media (max-width: 441.98px) {
         font-size: 30px;
      }

   }
}


//Second-Block\//

//Dishes//

.dishes {

   // .dishes_set

   &_set {
      margin-bottom: 50px;
   }

   // .dishes__row

   &__row {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      justify-content: space-between;
   }
}

.dishes-card {
   flex: 0 1 31.333%;
   display: flex;
   flex-direction: column;
   row-gap: 29px;
   background-color: #252525;
   padding: 0 0 24px 0;
   border-radius: 12px;

   @media (max-width: 1140px) {
      flex: 0 1 48%;
   }

   @media (max-width: 683.98px) {
      flex: 0 1 100%;
   }

   // .dishes-card__image-block

   &__image-block {
      padding: 0 0 74.28% 0;
   }

   // .dishes-card__info

   &__info {
      padding: 0 30px;
   }

   // .dishes-card__title

   &__title {
      font-size: 32px;
      line-height: 94%;
      color: #D9D9D9;
      margin: 0 0 3px 0;

      @media (max-width: 683.98px) {
         font-weight: 700;
      }

   }

   // .dishes-card__subtitle

   &__subtitle {
      font-size: 12px;
      line-height: 133%;
      letter-spacing: -0.15px;
      color: #A4A8B2;
      margin: 0 0 20px 0;

      @media (max-width: 683.98px) {
         font-size: 16px;
         color: #bfc3cc;
      }
   }

   // .dishes-card__text

   &__text {
      font-size: 13px;
      line-height: 138%;
      letter-spacing: -0.1625px;
      color: #85878C;

      @media (max-width: 1140px) {
         margin: 0 0 10px 0;
      }

      @media (max-width: 683.98px) {
         margin: 0 0 20px 0;
         font-size: 19px;
      }
   }

   // .dishes-card__bottom

   &__bottom {
      display: flex;
      flex-wrap: wrap;
      max-height: 40px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 597.98px) {
         min-height: 80px;
         row-gap: 10px;
      }
   }

   // .dishes-card__stars

   &__stars {
      flex: 0 1 60%;
      min-height: 30px;
      margin: 0 0 0 -7px;
      padding: 0 19.35% 0 0;

      @media (max-width: 683.98px) {
         min-height: 40px;
         flex: 0 1 40%;
      }

      @media (max-width: 597.98px) {
         flex: 0 1 70%;
         min-height: none;
         padding: 0 19.35% 0 0;
      }

      @media (max-width: 381.98px) {
         flex: 0 1 90%;
         align-self: center;
      }
   }

   // .dishes-card__button

   &__button {
      font-weight: 700;
      padding: 15px 30px;
      background-color: $green;
      color: #252525;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border-radius: 25px;

      @media (max-width: 683.98px) {
         font-size: 15px;
         flex: 0 1 50%;
      }

      @media (max-width: 597.98px) {
         flex: 0 1 100%;
         padding: 12px 30px;
      }
   }

}

//Dishes\//

//Breakfast//

.breakfast {

   // .breakfast_set

   &_set {
      margin-bottom: 50px;
   }

   // .breakfast__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
   }

   // .breakfast__pic

   &__pic {
      flex: 0 1 50%;
      padding: 0 0 50% 0;

      @media (max-width: 991.98px) {
         flex: 0 1 100%;
      }

   }

   // .breakfast__info

   &__info {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      flex: 0 1 49%;

      @media (max-width: 991.98px) {
         flex: 0 1 100%;
      }
   }

   // .breakfast__info-block

   &__info-block {

      padding: 28px 26px 0 26px;
      border-radius: 6px;
      background-color: #252525;
      transition: 0.2s ease;

      @media (max-width: 991.98px) {
         flex: 0 1 100%;
         padding: 2% 2%;
      }

      &:hover {
         background-color: $green;

         p {
            color: #252525;
         }

         span {
            opacity: 1;
         }

         img {
            color: #252525;
         }

         .breakfast__bottom-date {
            color: #252525;
         }
      }

      // .breakfast__info-block_bg

      &_bg {
         background: url("../img/main/breakfast/back.png") 0 0/cover no-repeat;

         &:hover {
            background: $green;
         }
      }

      @media (max-width: 1140.98px) {}
   }

   // .breakfast__info-text

   &__info-text {
      font-size: 16px;
      line-height: 188%;
      color: #FFFFFF;
      margin-bottom: 25px;

   }

   // .breakfast__bottom

   &__bottom {
      display: flex;
      justify-content: space-between;
   }


   // .breakfast__bottom-notice

   &__bottom-notice {
      display: inline-block;
      padding: 2px 13px;
      border-radius: 8px;
      background-color: #1a1a1a;
      font-size: 10px;
      line-height: 250%;
      text-align: center;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.8;
   }

   // .breakfast__bottom-date

   &__bottom-date {
      font-size: 12px;
      line-height: 208%;
      color: #B3B3B3;
   }


}


//Breakfast\//